sst1mpipe/tests/resources/zfits/SST1M1_20260121_0001.fits.fz filter=lfs diff=lfs merge=lfs -text
sst1mpipe/tests/resources/zfits/SST1M2_20260121_0001.fits.fz filter=lfs diff=lfs merge=lfs -text

sst1mpipe/resources/fixtures/intensity_hist_tel_022_202512180350.h5 filter=lfs diff=lfs merge=lfs -text
sst1mpipe/resources/fixtures/SST1M_CTA1_obs_id_202512180350_dl3.fits filter=lfs diff=lfs merge=lfs -text
sst1mpipe/resources/fixtures/SST1M2_20251218_0350.fits.fz filter=lfs diff=lfs merge=lfs -text
sst1mpipe/resources/fixtures/SST1M2_20251218_0350_W1_dl1_dl2.h5 filter=lfs diff=lfs merge=lfs -text
sst1mpipe/resources/fixtures/SST1M2_20251218_0350_W1_dl1.h5 filter=lfs diff=lfs merge=lfs -text
